version: 2
ethernets:
  id0:
    match:
      macaddress: "${mac}"
    set-name: enp1s0
    dhcp4: false
    dhcp6: false
    addresses:
      - "${ip}/${prefix}"
    routes:
      - to: default
        via: "${gw}"
    nameservers:
      addresses:
%{ for d in dns ~}
        - "${d}"
%{ endfor ~}
