#cloud-config
users:
  - name: ${ssh_user}
    groups: [sudo]
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ${ssh_public_key}

chpasswd:
  expire: false
  users:
    - {name: ${ssh_user}, password: ${ssh_password}, type: text}

ssh_pwauth: false
